proxy:
  image:
    repository: balcodecampmicrofrontend/kwik-e-proxy
    tag: 5c6d2ccee6b851106feb30992130e854a4e27210
  replicaCount: 1
  network:
    http:
      servicePort: 8080
      ingress:
        host: kwik-e-proxy.apps.baloise.dev
  readinessProbe:
    httpGet:
      path: /healthz
      port: 8080
  livenessProbe:
    httpGet:
      path: /healthz
      port: 8080
