frontend:
  image:
    repository: balcodecampmicrofrontend/kwik-e-detail
    tag: 23c36e605494f41fdd461f356a64ca21da5de030
  replicaCount: 1
  network:
    http:
      servicePort: 8080
      ingress:
        host: kwik-e-detail.apps.baloise.dev
  readinessProbe:
    httpGet:
      path: /actuator/health
      port: 8080
  livenessProbe:
    httpGet:
      path: /actuator/health
      port: 8080
