frontend:
  image:
    repository: balcodecampmicrofrontend/kwik-e-list
    tag: 35359f240ad6b723be8839fd0a661abde0ee920d
  replicaCount: 1
  network:
    http:
      servicePort: 8080
      ingress:
        host: kwik-e-list.apps.baloise.dev
  readinessProbe:
    httpGet:
      path: /healthz
      port: 8080
  livenessProbe:
    httpGet:
      path: /healthz
      port: 8080
