frontend:
  image:
    repository: balcodecampmicrofrontend/kwik-e-list
    tag: 43913a43ff9e52eb167ff5a119c09f48011e8826
  replicaCount: 1
  network:
    http:
      servicePort: 8080
      ingress:
        host: kwik-e-list.apps.baloise.dev
  env:
  - name: DETAIL_URL
    value: https://kwik-e-detail.apps.baloise.dev
