frontend:
  image:
    repository: balcodecampmicrofrontend/kwik-e-list
    tag: 41b06d0d2e214c590935812d5afcb99e9e6bf4a9
  replicaCount: 1
  network:
    http:
      servicePort: 8080
      ingress:
        host: kwik-e-list.apps.baloise.dev
  readinessProbe:
    httpGet:
      path: /healthz
      port: 8080
  livenessProbe:
    httpGet:
      path: /healthz
      port: 8080
