frontend:
  image:
    repository: balcodecampmicrofrontend/kwik-e-list
    tag: 393cc137f6c0bd65c48ca2f2c6e3fe320e795df9
  replicaCount: 1
  network:
    http:
      servicePort: 8080
      ingress:
        host: kwik-e-list.apps.baloise.dev
  readinessProbe:
    httpGet:
      path: /healthz
      port: 8080
  livenessProbe:
    httpGet:
      path: /healthz
      port: 8080
